// scss file for index page
//
@import "variables";
@import "basic_bootstrap";

#state-dates {
  font-family: "Poppins";
  margin: 1rem 0;
  [class^="col-"] {
    margin-bottom: 1rem;
  }
  .card {
    height:100%;
    margin-bottom: 1rem;
    background: #b4d1ff;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card-title {
    font-size: 3rem;
    margin-top: 1rem;
    font-weight: 700;
    @include media-breakpoint-up(xl) {
      font-size: 3.3rem;
    }
  }
  .card-subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .bottom-note {
    text-align: right;
    font-size: 1rem;
  }
}

#my-voter-georgia {
  font-family:"Poppins";
  background: #ffcfcf;
  padding: 4rem 0;
  .title-column {
    text-align: center;
    z-index: 0;
    .subtitle {
      margin-bottom: 0;
      font-size: 1.4rem;
      text-align: left;
    }
    .card-title {
      font-size: 4rem;
      font-weight: 700;
      text-decoration: underline;
      a{
        color: black;
      }
    }
    &:before {
      content: "";
      background: orange;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 60%;
      z-index: -1;
      transition: all 500ms;
      @include media-breakpoint-down(xs){
        top: 0;
        left: 20%;
        width: 60%;
        height: 80%;
      }
    }
    &:hover {
      &:before {
        top: 0;
        left: 20%;
        width: 60%;
        height: 80%;
      }
    }
  }
  .text-column {
    margin-top: 2rem;
  }
}

#news-articles {
  margin-top: 3rem;
  margin-bottom: 3rem;
  .news-title {
    font-size: 4rem;
    font-family: "Poppins";
    font-weight: 600;
    text-align: right;
    @include media-breakpoint-down(xs) {
      font-size: 3.2rem;
    }
    span {
      background: #ff1212b5;
      padding: 0 1rem;
    }
  }
  [class^="col-"] {
    margin-top: 1rem;
  }
  .card-title {
    font-size: 1.6rem;
  }
  .card-subtitle {
    font-size: .9rem;
    margin-bottom: 1rem;
    color: grey;
  }
  .card-text {
    .collapse.show {
      display: inline;
    }
  }
  button {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: blue;
  }
}

#candidates {
  background: #3737a8;
  overflow: hidden;
  .candidate {
    padding-top: 2rem;
    padding-bottom: 2rem;
    .candidate-name {
      color: white;
      font-size: 3rem;
      font-weight: 700;
      font-family: "Poppins";
    }
    .candidate-image {
      &:before {
        content: "";
        background: orange;
        position: absolute;
        top: 20px;
        left: 50px;
        width: 100%;
        height: 100%;
      }
    }
    .candidate-text {
      a { color: white; }
      & div {
        background: rgba(0,0,0,.2);
        padding: 1rem;
      }
    }
  }
  .warnock {
    .candidate-text {
      display: flex;
      flex-direction: column;
      justify-content: end;
      @include media-breakpoint-up(md) {
        order: -1;
      }
    }
  }
  a:hover {
    img {
      height: 105% !important;
      transition: opacity 500ms ease 0s, height 300ms !important;
    }
  }
  [class^="col-"] {
    margin-bottom: 1rem;
  }
}


.imageButtons {
  margin-top: 1rem;
  margin-bottom: 1rem;

  &>div {
    padding-left: 5px;
    padding-right: 5px;
  }
}
