// scss file for index page
//
@import "variables";
@import "basic_bootstrap";

#state-dates {
  font-family: "Poppins";
  margin: 1rem 0;
  [class^="col-"] {
    margin-bottom: 1rem;
  }
  .card {
    height:100%;
    margin-bottom: 1rem;
    background: #b4d1ff;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card-title {
    font-size: 3rem;
    margin-top: 1rem;
    font-weight: 700;
    @include media-breakpoint-up(xl) {
      font-size: 3.3rem;
    }
  }
  .card-subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .bottom-note {
    text-align: right;
    font-size: 1rem;
  }
}

#my-voter-georgia {
  font-family:"Poppins";
  background: #ffcfcf;
  padding: 4rem 0;
  .title-column {
    text-align: center;
    .subtitle {
      margin-bottom: 0;
      font-size: 1.4rem;
      text-align: left;
    }
    .card-title {
      font-size: 4rem;
      font-weight: 700;
      text-decoration: underline;
      a{
        color: black;
      }
    }
  }
  .text-column {
    margin-top: 2rem;
  }
}

#news-articles {
  margin-top: 3rem;
  margin-bottom: 3rem;
  .news-title {
    font-size: 4rem;
    font-family: "Poppins";
    font-weight: 600;
    text-align: right;
    @include media-breakpoint-down(xs) {
      font-size: 3.2rem;
    }
  }
  [class^="col-"] {
    margin-top: 1rem;
  }
  .card-title {
    font-size: 1.6rem;
  }
  .card-subtitle {
    font-size: .9rem;
    margin-bottom: 1rem;
    color: grey;
  }
  .card-text {
    .collapse.show {
      display: inline;
    }
  }
  button {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: blue;
  }
}

#candidates {
  h2 {
    font-size: 3rem;
    font-family: "Poppins";
    font-weight: 700;
  }
  .candidate-name {
    font-size: 2rem;
    font-weight: 700;
  }
  a:hover {
    img {
      height: 105% !important;
      transition: opacity 500ms ease 0s, height 300ms !important;
    }
  }
  .card-body {
    background: #3a83e1;
    color: white;
    text-align: center;
    a {
      color: white;
    }
  }
  [class^="col-"] {
    margin-bottom: 1rem;
  }
}


.imageButtons {
  margin-top: 1rem;
  margin-bottom: 1rem;

  &>div {
    padding-left: 5px;
    padding-right: 5px;
  }
}
